body{
    background-color: lightgray;
    text-align: center;
}

h1{
    color: blue;
    font-family:Verdana,sans-serif;
    font-size: 3.75em;
}

p{
    color: black;
    font-family:Tahoma,sans-serif;
    font-size: 1.0625em;
    line-height: 2em;
    text-align: left;
}

input[type = file]{
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    border:  solid black;
}

#mapa {
    height: 500px;
    width: 100%;
}








